<% include('../layouts/header.ejs') %>

<h1>Change Password</h1>


<form action="" method="post">

    <input type="password" required name="password" required placeholder="Enter Password">
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br><br>
    <input type="submit" value="Reset Passoword">

</form>

<% include('../layouts/footer.ejs') %>